
.purchased {
  text-decoration: line-through;
}
header {
	font-family: Covered By Your Grace;
	color: #672222;
	text-indent: 16em;
    padding-top: 7em;
    font-size: x-large;
}

body {
	background-image: url('../images/Grocery Bag.jpg');
	
	background-size: 100% auto;
	
	background-position: 0em;
    background-attachment: fixed;

}

.container {
    text-indent: 21em;
}

.instructions {
	text-indent: 24em;
}	

header, form, .instructions {
	position: relative;
}

ul {
  list-style-type: none;
  display: initial;
  font-family: Shadows Into Light Two;
  color: #672222;
  font-size: x-large;
  text-indent: 19em;
  font-weight: bolder;
  word-break: keep-all;
  position: fixed;
  height: 500px;
  overflow: scroll;
}

#inputText {
	background-color: #FDDB33;
    width: 15em;
}

#removeAll {
	background-color: #FF6B6B
;
}

#add {
	background-color: #55e58a;
}

