body {
	background-image: url('http://i.imgur.com/J1lClUW.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 66em;
	text-indent: 30em;
	font-family: Covered By Your Grace;
}

ul {
	font-family: Covered By Your Grace;
	font-size: 2em;
	list-style-type: none;
	text-indent: 16em;
	color: brown;
}
h1 {
	margin-top: 5em;
    text-indent: 6.3em;
    font-size: 3.5em;
    color: brown;
}
li.linethrough {
	text-decoration: line-through;
}
.purchased {
	vertical-align: middle;
}

