@media only screen and (max-width: 380px) {
body {
  background-repeat: no-repeat;
  background-position: 50% 150px;
  padding: 0;
  }

.purchased {
    text-decoration: line-through;
}

header {
     font-family: Covered By Your Grace;
     color: #672222;
     font-size: 1rem;
     width: 50%;
     margin-left: 5rem;
     text-align: center;
 }

.form {
  float: left;
  font-size: 1.5vh;
  margin-top: 100px;
  margin-left: 60px;
 }

.instructions {
  position: absolute;
  font-size: 2vh;
  text-align: center;
  margin-left: 2.25rem;
 }  


ul {
  position: absolute;
  margin-left: 30%;
  list-style-type: none;
  font-family: Shadows Into Light Two;
  color: #672222;
  font-size: 2vh;
  font-weight: 500;
  height: 9em;
  width: 14em;
  overflow-y: scroll;
  padding: 0;
  margin-top: 8rem;
 }

::-webkit-scrollbar {
    width: 12px;
    direction: left;
 }
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
 }
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
 }

#inputText {
  position: relative;
  background-color: #FDDB33;
    width: 18em;
    font-size: .7rem;
    padding: 0;
 }

#add {
  background-color: #55e58a; 
  position: absolute;
  font-size: .6rem;
  padding: 2px;
  margin-top: .2rem;
  margin-left: 4rem;
 }

#removeAll {
  background-color: #FF6B6B;
    width: 2.7rem;
    position: relative;
    padding: 2px;
    font-size: .6rem;
    margin-top: .2rem;
    margin-left: 5.8rem;
 }





}















